
  .youtube,.instagram,.linkedin,.github,.facebook,.twitter {
    color:rgb(141, 3, 141);
}
.youtube:hover{
   color:red;
}
.instagram:hover{
  color:rgb(190, 30, 150) ;
}
.linkedin:hover{
   color:rgb(17, 128, 219);
}
.twitter:hover{
  color:rgb(17, 128, 219);
  
}
.github:hover{
   color:black;
}
.facebook:hover{
  color:blue;
}
.padd:hover{
 /* color:rgb(199, 0, 199); */
 color:red;
}
.nav-link:hover,#srinu{
  color:red;
}
.navbar{
    font-weight: 50px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5)
}

.display-6{
    font-size:30px;
    padding-left:100px;
}
.padd{
    margin-left: 30px;

}
.navbar-nav{
margin-left: 300px;
}

#qwe{
    color:green;
}

.hello{
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
   
    }

    hr{
   
       
        background-color:black ;
        margin-left:150px;
        margin-top:-10px;
    }
    .name{
        font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-left: 40px;
    }   

    .opc{
        font-size:50px;
        z-index: -1;
        opacity: 0.4;
        margin-top:-70px;
        margin-left: 40px;
        font-style:italic;
    }
    .dis{
        font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px; 
    margin-top:10px ;
    opacity:0.8;
    }
    .but1{
    

        font-size:20px;
        border:2px solid rgb(219, 49, 219);
        padding: 15px 32px;
        background-color:white;
        border-radius:8px;
        transition: 2s;
        
        
        }
        .but1:hover{
            background-color:rgb(170, 6, 170) ;
            font-size:20px;
            color:white;
            border:none;
            border-radius:8px;
        }
    .but2{
        font-size:20px;
        border:2px solid rgb(219, 49, 219);
        padding: 15px 32px;
        background-color:white;
        border-radius:8px;
        transition: 2s;
        
        }
        .but2:hover{
            background-color:rgb(170, 6, 170) ;
            font-size:20px;
            color:white;
            border:none;
            border-radius:8px;
        }
        .pic11{
            border-top-left-radius: 70px;
            border-bottom-right-radius: 50px;
            transition: 5s,transform 2s;
            transition-delay: 0.5s;
            
        }
        .pic11:hover{
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 70px;
            border-bottom-left-radius: 50px;
            transform: rotate(360deg);
            
        }

        .pic22{
            border-top-right-radius: 70px;
            border-bottom-left-radius: 50px;
            transition: 4s,transform 2s;
            transition-delay: 0.5s;
        }
        .pic22:hover{
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 70px;
            border-bottom-right-radius: 50px;
            transform: rotate(360deg);
        }
       

        .para2{
            font-size:40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            
        }
        .skill-text{
            margin-top: 30px;
            opacity:0.9;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align:center;
          }
          .cen-skills{
            
            opacity:0.5;
          } 
     
          .dad{
            box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.5);
           
            height:230px;
            text-align: ;
           
       }
       .dad-pic{
           width:150px;
           height:200px;
         
           border-radius: 5px;
       }
       .dad-txt{
         
          
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           
       }
      .dad-dis{
          opacity:0.5;
          margin-top: -20px;
      }
      .bro{
       box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.5);
       max-width: 560px;
       height:230px;
       padding-left: -20px;
     }
   .bro-txt{
       width:350px;
       height:180px; 
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .footer-home{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-top:50px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-7
{
    margin-left: -5px;
}
.carousel-control-prev{
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color:rgb(219, 49, 219);
    color: white;
     margin-top: 80px; 
}
.carousel-control-next
{
    border-radius: 50%;width:50px;height:50px;
    background-color:rgb(219, 49, 219);color: white; margin-top: 80px;margin-left: 90px;
}
.abc{
    margin-left: auto;
    margin-right: auto; 
  
     display: block;
}

.topimg,.card-image-top{
margin-left: auto;
margin-right:auto:
 
}
.card{
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.5);
    padding-top:10px ;   
}
.card-img-top{
    margin-left: auto;
margin-right:auto;
}
.carousel-item{
    margin-left: auto;
    margin-right:auto;  
}










.container1 {
    position: relative;
    width: 50%;
    margin-top: 100px;
  }

  
  .overlay1 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #d613c6;
    overflow: hidden;
    width: 200%;
    height:0;
    transition: .5s ease;
  }
  
  .container1:hover .overlay1 {
    bottom: 0;
    height: 200%;
  }
  
  .text1 {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .edu-txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   ]
  }
  .course{
    color:rgb(255, 0, 255);
    font-size: 30px;
    font-weight: bold;
 }

.send{
   
border:2px solid rgb(219, 49, 219);
text-align:center;
background-color:rgb(170, 6, 170) ;

width:100px;
font-size: 25px;
color:white;

border-top-left-radius:20px;
border-bottom-right-radius:20px;
box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);

}
.send:hover{
    background-color:rgb(236, 9, 236) ;
}
.map{
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.shadow {
    margin-top: 30px;
    width:90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}












/* .box{
    position:relative;
  }
  
  .img-title{
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    letter-spacing: 3px;
  } */
  /* .bg-text {
      position: absolute;;
    background-color: rgb(165, 10, 165); 
   /* background-color: rgba(170, 6, 170, 0.3); */   
                                  
    /* margin-top:150px; 
    margin-left:300px;
    border-radius: 15px;
    z-index: 1;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:40px;
    text-align: center;
  }
  .bg-text-contact {
    position: absolute;;
  background-color: rgb(165, 10, 165); 

                                     color: white;
  margin-top:150px;
  margin-left:300px;
  border-radius: 15px;
  z-index: 1;
  width: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:40px;
  text-align: center;
}
.bg-text-education {
    position: absolute;;
  background-color: rgb(165, 10, 165); 
 /* background-color: rgba(170, 6, 170, 0.3); */
                                                                       
  /* margin-top:150px; 
  margin-left:300px;
  border-radius: 15px;
  z-index: 1;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:40px;
  text-align: center;
} */












/*


body{
    background-color:rgb(253, 249, 249);
}
li{
    display:inline-block;
    font-size:30px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
   font-style:bold;
    padding-top:25px;
    margin-left:30px;
    margin-right:10px;   
}
.nav{
    text-align-last: right;
    width:100% ;
    height:100px;
    background-color:white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

li:hover{
    color:rgb(219, 49, 219);
    
}
.hello{
font-size:40px;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
margin-top:90px;
margin-left: 40px;
}
hr{
   
    width:200px;
    height:2px;
    background-color:black ;
    margin-left:150px;
    margin-top:-10px;
}
.name{
    font-size:45px;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
margin-left: 40px;
}

.but{
    
    margin-top:-200px;
    margin-left: 250px;
}

.but1{
    

font-size:20px;
border:2px solid rgb(219, 49, 219);
padding: 15px 32px;
background-color:white;
border-radius:8px;
transition: 2s;


}
.but1:hover{
    background-color:rgb(170, 6, 170) ;
    font-size:20px;
    color:white;
    border:none;
    border-radius:8px;
}
.but2{
font-size:20px;
border:2px solid rgb(219, 49, 219);
padding: 15px 32px;
background-color:white;
border-radius:8px;
transition: 2s;

}
.but2:hover{
    background-color:rgb(170, 6, 170) ;
    font-size:20px;
    color:white;
    border:none;
    border-radius:8px;
}

.para2{
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:-280px;
    margin-left: 700px;
}
.abt{
    margin-top:0px;
    margin-left: 700px;
    opacity:0.5;   
}
.opc{
    font-size:90px;
    z-index: -1;
    opacity: 0.3;
    margin-top:-80px;
    margin-left: 40px;
}

  
 
.jspic{
    width: 60px;
    height:80px;
}
.htmlpic{
    width: 60px;
    height:80px;
}
.csspic{
    width: 60px;
    height:80px;
}
.kinepic{
    width: 80px;
    height:80px;
}

.js{
    float:left;
    width:20%;
    height:350px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 234, 0.5);
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0 10px;
    margin-left:45px;
    
}
.css{
    height:350px;
    float:left;
    width:20%;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 234, 0.5);
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0 10px;
    margin-left:25px;
}
.html{
    width:20%;
    float:left;
    height:350px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 234, 0.5);
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0 10px;
    margin-left:25px;
}

.kinemaster{
    width:20%;
    float:left;
    height:350px;
    box-shadow:0 4px 8px 0 rgba(255, 0, 234, 0.5);
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0 10px;
    margin-left:25px;
}
.footer{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-top:450px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-home{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-top:50px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-contact{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-top:50px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-education{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-top:100px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c{

    width:100px;
    height:100px;
    margin-left:50px;
}
.contact{
    width:50%;
    margin-top:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text{
    margin-top:-100px;
    margin-left:180px;

}
.call{
    margin-top:50px;
}
.mail{
    margin-top:50px;
}
    input{
    width: 450px;
    height: 60px;
   border-radius: 5px;
   padding-left:30px;   
    margin-top:10px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}
    

.input-1{
    margin-top:-350px;
    margin-left:800px;
}
textarea{
    width: 450px;
    height: 100px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
   padding-left:30px;   
    margin-top:10px;
}
.send{
   
border:2px solid rgb(219, 49, 219);
text-align:center;
background-color:rgb(170, 6, 170) ;

width:100px;
font-size: 25px;
color:white;
padding:10px;
margin-left:1150px;
margin-top:30px;
border-top-left-radius:20px;
border-bottom-right-radius:20px;
box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);

}
.send:hover{
    background-color:rgb(236, 9, 236) ;
}
.map{
    margin-left: 90px; 
    margin-top:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.dicegame{
    margin-left: 200px; 
    opacity: 0.7;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:800px;

}
.pro-name{

    margin-top: 150px;
    opacity:0.9;
    margin-left: 40px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
.dice{
    margin-left: 800px; 
    margin-top:-200px;
    opacity:0.6;
}
.pro-btn{
    font-size:20px;
border:2px solid rgb(219, 49, 219);
padding: 15px 32px;
color:white;
background-color:black;
border-radius:8px;
margin-left:950px ;
margin-top: 20px;

}
.pro-btn:hover{
        background-color:rgb(170, 6, 170) ;
        font-size:20px;
        color:white;
       
        border:2px solid rgb(219, 49, 219);
        border-radius:8px;
    }
    .logo-aucivil{
        margin-left: 800px; 
        margin-top:-200px;
        height:200px;
        width:300px;
    }
    .my-logo{
        height:80px;
        width:250px;
        margin-left: 10px; 
        margin-top:-90px;
      position: absolute;
      border-radius: 15px;

    }
   
.previous-btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: rgb(219, 49, 219);
    color: white;
    position: absolute;
    margin-left: 20px; 
     margin-top:-140px;
    
}
.next-btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: rgb(219, 49, 219);
    color: white;
    position: absolute;
    margin-left: 1280px; 
    margin-top:-140px;
}

